.User_list {
  width: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.User_list_items_wrapper {
  width: 100%;
  font-weight: 500;
  background-color: #bcb36b;
  padding: 10px;
  border-radius: 5px;
}

.User_list__items {
  width: 100%;
  list-style-type: none;
}

.User_list_items_wrapper:hover {
  transform: scale(1.01);
}

.User_list__items_name {
  color: #2c4a83;
}

.User_list__items_email {
  color: #20a8ce;
}

.User_list__items_name,
.User_list__items_email {
  font-size: 18px;
  font-weight: 700;
}
